body{
    background-image: url("https://wallpaperaccess.com/full/185662.png");
    background-repeat: no-repeat;
    background-size:cover ;
}
*{
    font-size: 35px;
    text-align: center;
}
button{
    background-color:pink;
    border-radius: 15px;
}
a{
    text-decoration:none;
}